.metadata
RemoteSystemsTempFiles
DigitalServer
DigitalServerDev05/.settings
DigitalServerDev05/.project
DigitalServerDev05/.api/system/resources/cartridges/cartridgelist.properties
DigitalServerDev05/.api/system/resources/cartridges/bc_api/release/lib/core_script.jar
DigitalServerDev05/.api/system/resources/cartridges/bc_api/release/lib/core.jar
DigitalServerDev05/.api/system/resources/cartridges/bc_api/release/lib/bc_api.jar
DigitalServerDev05/.api/system/resources/cartridges/bc_api/release/bc_api.properties
DigitalServerDev05/.api/system/resources/cartridges/ac_verisign/release/lib/ac_verisign.jar
DigitalServerDev05/.api/system/resources/cartridges/ac_verisign/release/ac_verisign.properties
DigitalServerDev05/.api/project_storefront.zip
DigitalServerDev05/.api/bm_extension.zip
DigitalServerDev05/.api/DWAPP-19.9-schema.zip
DigitalServerDev05/.api/DWAPP-19.9-API-doc.zip
DigitalServerDev05/.api.properties
DigitalServerDev05
.DS_Store
.idea
*.iml
**/package-lock.json
**/node_modules/**
node_modules/
metadata/
**/node_modules/**
**/package-lock.json
.vscode
dw.json
*.code-workspace
